<div id="auth-body">
<div class="p-10 rounded-lg bg-white m-2 max-w-xl mx-auto">
    <img src="assets/Frame.png">
    <h3 class="font-bold mt-3">Sign in to your account</h3>
   
    <div class="mt-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
          <div class="mb-4">
            <input type="text" name="phone-number" id="phone-number" autocomplete="given-name"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline">
          </div>
      </div>

      <div class="mt-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="mt-2">
            <input type="password" name="password" id="password" autocomplete="password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline">
          </div>
      </div>

    
    <p><a href=""> Forgot password? </a></p>             

    <div class="flex items-center justify-center gap-x-6 mt-4">
        <button type="submit" class="w-full rounded-full bg-black px-3 py-2 text-sm font-semibold
            text-white shadow-sm">Log In</button>
    </div>

    <p class="mt-5">Don't have an account? <a href="signup" class="font-bold underline">Sign up</a></p>
    
</div>
</div>
